html {
    overscroll-behavior: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    user-select: none;
}

body {
    background-color: #333;
    margin: 0;
}

svg {
    background-color: #fff;
}

label {
    display: flex;
    align-items: center;
}

input {
    margin: 0 8px;
}

p {
    margin: 10px 0 0 0;
    padding: 0 10px;
}

.application {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toolbar {
    border-bottom: 1px solid black;
    background-color: #222;
}

.toolbar, .tool-group {
    display: flex;
    flex-direction: row;
    height: 32px;
    padding: 8px 0;
    align-items: center;
}

.tool-group {
    gap: 4px;
    padding: 0 16px;
}

.tool-group:not(:first-child) {
    border-left: 1px solid black;
}

.toolbar > *, .tool-group * {
    height: 100%;
}

.viewport {
    overflow: scroll;
    overscroll-behavior: none;
    flex: 1;
}

.sidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #222;
    display: flex;
    flex-direction: column;
}

.color-picker {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;

    background-color: #222;

    --selected-color: #f00;
    --selected-hue: #f00;
}

.color-picker svg {
    overflow: visible;
    background-color: rgba(0,0,0,0);
}

.color-picker input {
    border-radius: 8px;
    margin: 16px 0 0 0;
    appearance: none;
    height: 8px;
    padding: 0 -4px;
    background-color: #333;
}

.hue-picker {
    background: linear-gradient(to left, red, magenta, blue, cyan, lime, yellow, red);
}

.opacity-picker {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--selected-hue)),
        repeating-conic-gradient(#fff 0% 25%, #ccc 25% 50%) repeat 8px / 8px;
}

.color-picker input::-moz-range-thumb {
  background: linear-gradient(to right, var(--selected-color), var(--selected-color)),
        repeating-conic-gradient(#fff 0% 25%, #ccc 25% 50%) repeat 14px / 14px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #333;
}

.swatch {
    margin: 16px 0 0 0;
    height: 32px;
    border-radius: 4px;
    background: linear-gradient(to right, var(--selected-color), var(--selected-color)),
        repeating-conic-gradient(#fff 0% 25%, #ccc 25% 50%) repeat 32px / 32px;
}

.noscroll .viewport {
    overflow: hidden;
}
